
@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <p>Please check your email to reset your password.  Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




