
<div id="logo" class="light-version">
        <span class="text-uppercase">
            Integrated Auction &amp; Bidding System
        </span>
</div>
<nav role="navigation">
        <minimaliza-menu></minimaliza-menu>
    <div class="small-logo">
        <span class="text-primary">Integrated Auction and Bidding System</span>
    </div>
</nav>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Are you sure you want to logout?</h4>
                <small class="font-bold">You can improve your security further after logging out by closing this opened browser</small>
            </div>
            <div class="modal-footer">
                <form action="/Account/LogOff" method="post">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-success">Yes</button>
                </form>

            </div>
        </div>
    </div>
</div>




