<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />


  <add key="forgotPasswordEmail" value="~/email-templates/ForgotPassword.html" />
  <add key="forgotPassword_email_subject" value="Integrated Auction and Bidding System - Forgot password notification" />
  <add key="EmailAddressFrom" value="no-reply@[sms].com" />
  <add key="EmailAddressFromLabel" value="Integrated Auction and Bidding System" />
  <add key="Password_Reset_Email_Subject" value="Password reset - Integrated Auction and Bidding System"/>

  <add key="ApplicationId" value="1"/>

  <add key="RootvFolderMediaId" value="1" />

  <add key="MediaFolder" value="C:\Work\MD.Bidding\Media" />
  <add key="TempFolder" value="C:\Work\MD.Bidding\Temp" />

  <add key="SenderId" value="iSMS"/>
  <add key="ApiKey" value="53e2d945-efd0-486e-bd1c-c73183942f3b"/>

  <add key="SellerSmsNotificationMessage" value="Hi, Your product Bidding Period has ended, log into system and find out the highest bidder."/>

</appSettings>

