<connectionStrings>
  <clear />
  <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MD.Bidding;User Id=sa;Password=Daudi;" providerName="System.Data.SqlClient"/>
  <add name="BiddingEntities" connectionString="metadata=res://*/Models.MDBidding.csdl|res://*/Models.MDBidding.ssdl|res://*/Models.MDBidding.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=MD.Bidding;user id=sa;password=Daudi;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>