
    <div class="containerx">
        <!-- Navbar ================================================== -->
        <div id="logoArea" class="navbar">
            <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-inner">
                <a class="brand" href="/#/dashboard"><img width="100" src="/images/iabs-logo.png" alt="Bootsshop" /></a>
                <!--<form class="form-inline navbar-search"  >
                    <input id="srchFld" class="srchTxt" type="text" ng-model="search.$" />
                    <select class="srchTxt">
                        <option>All</option>
                        <option>CLOTHES </option>
                        <option>FOOD AND BEVERAGES </option>
                        <option>HEALTH & BEAUTY </option>
                        <option>SPORTS & LEISURE </option>
                        <option>BOOKS & ENTERTAINMENTS </option>
                    </select>
                    <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
                </form>-->
                <ul id="topMenu" class="nav pull-right">
                    <li class=""><a href="/#/open/products/bidding">Products Open for bidding</a></li>
                    <li class=""><a href="/#/closed/products/bidding">Sold Products</a></li>
                    <li class=""><a href="contact.html">Help</a></li>
                    <li class="">

                        <a href="/Account/Login" style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a>

                    </li>
                </ul>
            </div>
        </div>
    </div>


