    <div class="well well-small"><a id="myCart" href="/#/open/products/bidding"><img src="themes/images/ico-cart.png" alt="cart">Items open for bidding <span class="badge badge-warning pull-right">Open</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">

        <li class="subMenu open" ng-repeat="category in mainCategories">
            <a> {{category.Name}} [{{category.Products.length}}] </a>
            <ul ng-if="category.ChildCategories.length > 0">
                <li ng-repeat="childCategory in category.ChildCategories"><a href="products.html"><i class="icon-chevron-right"></i> {{childCategory.Name}} </a></li>
            </ul>
        </li>

    </ul>
    <br />
    <div class="thumbnail">
        <img src="themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
        <div class="caption">
            <h5>Panasonic</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Bid <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">UGX:222.00</a></h4>
        </div>
    </div><br />
    <div class="thumbnail">
        <img src="themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
        <div class="caption">
            <h5>Kindle</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Bid <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">UGX:222.00</a></h4>
        </div>
    </div><br />

