<!-- Header -->
<div id="header" ng-include="'/app/views/_common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content" animate-panel effect="zoomIn">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="col-sm-9 col-md-9 col-lg-9 text-center m-t-md">
                            <h2>
                                Welcome to Integrated Auction and Bidding System
                            </h2>

                        </div>
                       


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
